@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .font-bold.text-xl.text-slate-800 {
    min-width: 120px;
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}